<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Harry Potter-Books</title>
  </head>
  <body class = "booksbody">
          <br>
          <br>
          <h3 class = "navbar">
              <a href="/" > Home</a>
              <a href="/questions" > Character Quiz</a>
              <a href="/movies" > The Movies</a>
              <a href="/summary" > Summary</a>
              <a href="/characters" > Characters</a>
              <a href="/housequiz" > House Quiz</a>
              <a href="/otherpages" > Links </a>
          </h3>
    <header><h1 class = "books" align= "center">Harry Potter Books</h1></header>
    
    <a href="https://www.amazon.com/Harry-Potter-Sorcerers-Stone-Rowling/dp/133829914X/ref=pd_sim_14_2?_encoding=UTF8&pd_rd_i=133829914X&pd_rd_r=f68e2078-8aa0-11e8-9d63-255c035dbfa0&pd_rd_w=ZrPMJ&pd_rd_wg=UrjAR&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=2610440344683357453&pf_rd_r=JHM2YDF1QRVMN43KZ6FA&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=JHM2YDF1QRVMN43KZ6FA" target="_blank"> 
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bf/Harry_Potter_and_the_Sorcerer%27s_Stone.jpg/150px-Harry_Potter_and_the_Sorcerer%27s_Stone.jpg" alt="Harry Potter" height="450" width="300" style="position:absolute; left: 47px">
</a>
        
   <a href="https://www.amazon.com/Harry-Potter-Chamber-Secrets-Rowling/dp/0439064872/ref=sr_1_4?ie=UTF8&qid=1531928446&sr=8-4&keywords=harry+potter+books" target="_blank"> 
  <img src="https://thatbookstore.com/wp-content/uploads/2018/06/Harry-Potter-and-the-Chamber-of-Secrets.jpg" alt="Harry Potter" height="450" width="300" style="position:absolute; left: 389px"> 
    </a>                            
   <a href="https://www.amazon.com/Harry-Potter-Prisoner-Azkaban-Rowling/dp/0439136369/ref=pd_sim_14_1?_encoding=UTF8&pd_rd_i=0439136369&pd_rd_r=143f0e18-8aaa-11e8-abf4-0dab813930ac&pd_rd_w=L9N3f&pd_rd_wg=PaFA0&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=2610440344683357453&pf_rd_r=6TP71JX7SVD7DPTXPKW8&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=6TP71JX7SVD7DPTXPKW8" target="_blank"> 
  <img src="https://images-na.ssl-images-amazon.com/images/I/81lAPl9Fl0L.jpg" height="450" width="300" style="position:absolute; right: 389px">
  </a> 
    
<a href="https://www.amazon.com/Harry-Potter-Goblet-Fire-Rowling/dp/0439139600/ref=pd_sim_14_2?_encoding=UTF8&pd_rd_i=0439139600&pd_rd_r=248d6656-8aaa-11e8-ad3a-631c770a9f40&pd_rd_w=fftvw&pd_rd_wg=miv6R&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=2610440344683357453&pf_rd_r=Y17R40NCGM4322GJHR5D&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=Y17R40NCGM4322GJHR5D" target="_blank"> 
  <img src="https://pm1.narvii.com/6401/0c4b4a7c21c90bfaaff32ef5224ba1ccfe8eabf5_00.jpg" height="450" width="300" style="position:absolute; right: 47px">
</a> 
    
   <a href="https://www.amazon.com/Harry-Potter-Order-Phoenix-Rowling/dp/0439358078/ref=pd_sim_14_1?_encoding=UTF8&pd_rd_i=0439358078&pd_rd_r=5e61efb4-8aaa-11e8-af94-512c4a9e243e&pd_rd_w=v1DfF&pd_rd_wg=dbwYu&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=2610440344683357453&pf_rd_r=904DX24BA00SKRSB83S9&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=904DX24BA00SKRSB83S9" target="_blank"> 
  <img src="https://images.gr-assets.com/books/1507396732l/2.jpg" height="450" width="300" style="position:absolute; top: 573px; left: 220px">
</a> 
    
  <a href="https://www.amazon.com/Harry-Potter-Half-Blood-Prince-Book/dp/0439785960/ref=pd_sim_14_1?_encoding=UTF8&pd_rd_i=0439785960&pd_rd_r=6ac9e6aa-8aaa-11e8-9b7a-e1a1378d6917&pd_rd_w=Zmjlo&pd_rd_wg=Kq0vU&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=2610440344683357453&pf_rd_r=XACETDWCA84682G81WP1&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=XACETDWCA84682G81WP1" target="_blank"> 
 <img src="https://images-na.ssl-images-amazon.com/images/I/71EwgGuAS9L._SY606_.jpg" height="450" width="300" style="position:absolute; top: 573px; left: 562px;">
</a>  
    
   <a href="https://www.amazon.com/Harry-Potter-Deathly-Hallows-Book/dp/0545139708/ref=pd_sim_14_1?_encoding=UTF8&pd_rd_i=0545139708&pd_rd_r=7e9186f3-8aaa-11e8-ad3a-631c770a9f40&pd_rd_w=pdXnm&pd_rd_wg=woBWt&pf_rd_i=desktop-dp-sims&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=2610440344683357453&pf_rd_r=A1XQC2PTTEE9WKGC3JKY&pf_rd_s=desktop-dp-sims&pf_rd_t=40701&psc=1&refRID=A1XQC2PTTEE9WKGC3JKY" target="_blank"> 
  <img src="https://cdn3.bigcommerce.com/s-nq6l4syi/products/9024/images/9697/35483-1024__81441.1478019740.500.659.jpg?c=2" height="450" width="300" style="position:absolute; top: 573px; right: 220px">
</a>
  </body>
</html>