<html>
    
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>
           Harry Potter Characters
        </title>
    </head>
    
    <body class = "charactersbody">
          <br>
          <br>
          <h3 class = "navbar">
              <a href="/" > Home</a>
              <a href="/books" > The Books</a>
              <a href="/movies" > The Movies</a>
              <a href="/summary" > Summary</a>
              <a href="/questions" > Character Quiz</a>
              <a href="/housequiz" > House Quiz</a>
              <a href="/otherpages" > Links </a>
          </h3>
        <header>
            <h1 class = "charactershead">
                Harry Potter Characters!
            </h1>
        </header>
        
        <div class = "allfirst">
        <h3 class = "name">
            Nymphadora Tonks
        </h3>
        <p class = "info">
            Most of the wizards we see in Harry Potter are either experienced adults – <br>
            often professors of course – or the underage students who are the focus <br>
            of the series. This helps make Tonks a refreshing change of pace, as she <br>
            represents a young adult wizard – someone who's completed all of her training, <br>
            but still has the brash, energetic attitude of youth. A Metamorphmagus, <br>
            Tonks can change her appearance, and uses that ability to constantly change <br>
            her hair color into dramatic colors, including everything from pink to purple. <br>
            In the books, she's known to wear jeans and band t-shirts, and brings a fun, <br>
            punkish attitude to the Harry Potter universe – while also functioning as a loyal, <br>
            brave member of the Order of the Phoenix, who's quick to take up the fight <br>
            against Voldemort and his Death Eaters. The story of how she and the older <br>
            Remus Lupin came to be together unfortunately was mostly left off screen in the films, <br>
            but their dedication to fighting the good fight was still conveyed as they made <br>
            the ultimate sacrifice in The Deathly Hallows Part 2.
        </p>
        </div>
        
        <div class = "allsecond">
        <h3 class = "name">
            Dobby
        </h3>
        <p class = "info">
            "Such a beautiful place... to be with friends." It's difficult to not get a bit <br>
            misty-eyed recalling the moment when Dobby the house-elf said those words in Deathly <br>
            Hallows Part 1, which were among his last. When we met Dobby, admittedly, he was pretty <br>
            annoying. He was a strange, little creature with a habit of hurting himself, who made <br>
            things very difficult for Harry Potter as he began his second year at Hogwarts. But Dobby's <br>
            intentions were always noble, and his determination to help Harry, despite the short term <br>
            consequences, was commendable. Dobby's role in the film series is far smaller than in the books, <br>
            where he made frequent appearances in-between Chamber of Secrets and Deathly Hallows. In the books, <br>
            we saw more of how kind-hearted and loyal Dobby was, particularly towards Harry Potter, to whom <br>
            he was indebted for his freedom. But even those who only knew Dobby from The Chamber of Secrets <br>
            film were probably affected by his sacrifice in The Deathly Hallows Part 1, where he proved <br>
            crucial in freeing Harry and his friends from a horrific scenario, only to fall victim to <br>
            Bellatrix Lestrange in the process. The fact that Dobby, in his dying moments, clearly had <br>
            no regrets about literally giving his all for his friend Harry resulted in one of the most touching <br>
            moments in the series.
        </p>
        </div>
        
        <div class = "allthird">
        <h3 class = "name">
            Sybill Trelawney
        </h3>
        <p class = "info">
            Sybill Trelawney is the professor of Divination at Hogwarts. And to say she's an odd <br>
            bird is a bit of an understatement. Her thick glasses and gaudy dress make for a strange <br>
            appearance, and Trelawney's habit of speaking in a hushed, ethereal tone don't help matters. <br>
            She's a seer known for making vague predictions that sometimes come true. And much like many <br>
            real-life psychics, there's plenty of skepticism surrounding Trelawney's abilities -- <br>
            particularly from Hermoine Granger. But Trelawney's the one who prophesied about the Chosen One: <br>
            "The one with the power to vanquish the Dark Lord approaches... and the Dark Lord will mark him <br>
            as his equal, but he will have power the Dark Lord knows not..." It's Harry Potter, of course, <br>
            who ultimately becomes the subject of the prophesy. And it's Trelawney's mysterious power, <br>
            coupled with her bizarre behavior, that make the character fascinating and fun. <br>
        </p>
        </div>
        
        <div class = "allfourth">
        <h3 class = "name">
            Ginny Weasley
        </h3>
        <p class = "info">
        On hand in Chamber of Secrets as a lovesick little girl/vessel for Tom Riddle's madness <br>
        (following her cameo in The Sorcerer's Stone), Ginny and Harry's eventual romance captivated us. <br>
        It seemed to both spring up out of nowhere and feel like it was meant to be all along. It was only natural <br>
        that Harry should wind up finding love in the same family where he found…well, family. It was refreshing <br>
        to finally see someone in Hogwarts see Harry as the proud and pensive catch that he was. While it wasn't <br>
        really captured in the films, Ginny becomes a true leader of rebel forces like no other. She's a strong, <br>
        determined and alluring young woman who always there to fight the forces of evil as a member of Dumbledore's <br>
        Army. Ginny is the quintessential "girl who got her guy" – and we wouldn't have it any other way.
        </p>
        </div>
        
        <div class = "allfifth">
        <h3 class = "name">
            Gilderoy Lockhart
        </h3>
        <p class = "info">
        Gilderoy Lockhart is a real charmer. It's through sheer charisma (and the occasional memory charm) that he established <br>
        himself in society as one of the most accomplished wizards of all time, without actually performing any of the heroic <br>
        acts he claims to have done in numerous best-selling books. The vain and self-aggrandizing Lockhart's habit of exaggerating <br>
        his own deeds would backfire when he was hired as the Defense Against the Dark Arts teacher at Hogwarts School of Witchcraft <br>
        and Wizardry. He would at first relish the position as yet another avenue of self-promotion, but his buffoonery and <br>
        incompetence soon get the best of Lockhart. His false claims are revealed by Harry Potter and his friends after Lockhart cowardly <br>
        attempted to flee the school upon being ordered to confront the monster in the Chamber of Secrets.
        </p>
        </div>
        
        <div class = "allsixth">
        <h3 class = "name">
            Horace Slughorn
        </h3>
        <p class = "info">
        Horace Slughorn first came to Hogwarts as a young boy and was sorted into Slytherin house. He proved an excellent student, <br>
        excelling in Potions, which he would later return to the school to teach -- he instructed the likes of Tom Marvolo <br>
        Riddle, Severus Snape, and Lily Evans. It was Slughorn who taught Riddle about Horcruxes, information the twisted <br>
        young man would later use to make himself immortal. Slughorn is skilled, but has never been especially brave -- he <br>
        attempted to live incognito in the Muggle world for many years to evade potential recruitment by Voldemort and <br>
        his Death Eaters. And Slughorn even tries to hide from Dumbledore when the Headmaster comes calling on him to return <br>
        to the school. The often bumbling Slughorn is also known for his propensity for living the good life, and he does <br>
        not hesitate to exploit connections with former students who have gone on to lead successful careers to sustain <br>
        his well-to-do lifestyle. Despite his many faults though, Slughorn is a good man - proof that just because you come <br>
        from Slytherin, your path is not absolute.
        </p>
        </div>
        
        <div class = "allseventh">
        <h3 class = "name">
           Molly Weasley
        </h3>
        <p class = "info">
        Imagine the perfect, loving, giving mother – and then add magic. That's Molly Weasley for you. <br>
        We love her husband Arthur as well, but Molly's treatment of Harry has always been a <br>
        particularly wonderful part of the series. Harry is an orphan, treated horribly by his <br>
        aunt and uncle – and his relationship with his godfather, Sirius, was tragically short. <br>
        But since the day Harry met Molly, she's treated him like another son and given him the love, <br>
        support, and yes, Christmas presents, he'd been lacking in his life. While we're used to <br>
        Molly as a lovably concerned (or amusingly chastising, if you're Fred and George), classic <br>
        mother figure, she also has her own courage and strength to call upon – willingly risking <br>
        herself as a member of the Order of the Phoenix. And when her children are threatened, <br>
        well… Let's just say, Bellatrix learned her lesson the hard way.
        </p>
        </div>
        
        <div class = "alleighth">
        <h3 class = "name">
           Alastor "Mad-Eye" Moody
        </h3>
        <p class = "info">
        Grizzled. If there's one word that could describe Alastor "Mad-Eye" Moody in a nutshell, <br>
        it's "grizzled." One of the most renowned Aurors of all time, Moody was a fierce fighter <br>
        for good in the First and Second Wizarding Wars. He'd lost an eye, which was replaced <br>
        with a magical one, he has a wooden leg, and his face is covered with scars. His experiences <br>
        in battle left him emotionally damaged as well -- paranoid, bitter, and eccentric. In spite <br>
        of his seemingly fragile mental state, the veteran Moody was convinced to come out of <br>
        retirement by Dumbledore to serve as the Defense Against the Dark Arts teacher. But Moody <br>
        was shortly attacked by Barty Crouch Jr., who would trap and subsequently impersonate him <br>
        using polyjuice potion in service of Voldemort. The real Moody would go on to serve in the <br>
        reformed Order of the Phoenix, faithfully protecting Harry Potter from Voldemort and his <br>
        forces until he died in the line of duty, helping to protect Harry, in The Deathly Hallows Part 1.
        </p>
        </div>
        
        <div class = "allninth">
        <h3 class = "name">
           Minerva McGonagall
        </h3>
        <p class = "info">
        As the head of Gryffindor house and Deputy Headmistress of Hogwarts, Professor McGonagall <br>
        can be a strict disciplinarian. She is quick to kick misbehaving students out of her class, <br>
        and deduct house points when the situation warrants. But she can also be kind of like that cool <br>
        aunt of yours -- the one who sometimes lets you get away with a bit of mischief. And that's what's <br>
        so endearing about McGonagall. She grew up attending Hogwarts and returned to the school as an <br>
        adult to teach Transfiguration, under Headmaster Albus Dumbledore, who would later entrust her with <br>
        the Deputy Headmistress position and serve with her in the Order of the Phoenix during the First <br> 
        Wizarding War. After the infant Harry Potter's defeat of Voldemort, McGonagall was one of the members <br>
        of the Order who traveled to Privet Drive to leave the child in the care of the Dursley family whom <br> 
        she viewed as the "worst kind" of Muggles. She would later take Potter into her own house at Hogwarts <br> 
        and watch over him throughout his time there.
        </p>
        </div>
        
        <div class = "alltenth">
        <h3 class = "name">
           Remus Lupin
        </h3>
        <p class = "info">
        Harry Potter had good reason to distrust Defense Against the Dark Arts teachers, given his <br>
        experiences in his first two years. Lucky for him, Remus Lupin was cut from very different cloth <br>
        than Quirrel or Lockhart. Lupin is a kind, caring presence in Harry's life , and while Dumbledore certainly <br>
        was already looking out for Harry, Lupin was a much more available source of comfort and support for the <br>
        orphaned boy, during the single year he taught him – at least when it wasn't a full moon. An old friend <br>
        of Harry's parents, he was able to give Harry personal, intimate insight into who they were that no one <br>
        else had been able to provide. All that, and he's a werewolf! Lupin doesn't see that as a plus of course, <br>
        but it's a very cool extra component to the character, as we see this thoughtful, warm man work to control <br>
        the monster he turns into. And while Lupin's role is lessened after The Prisoner of Azkaban, he remains a <br>
        dependable figure in Harry's life and a valiant member of the Order of the Phoenix – and eventually, for Tonks, <br>
        something even more important.
        </p>
        </div>
        
        <div class = "alleleventh">
        <h3 class = "name">
           Rubeus Hagrid
        </h3>
        <p class = "info">
        For a boy like Harry, who grew up without any friends, a big warm and fuzzy brute like Hagrid couldn't have busted <br>
        down the door at a better time. And a true friend he was. When others among the staff at Hogwarts were quick to <br>
        skewer Harry with insults or shrug off his queries with mysterious glares, Hagrid was always there as a true <br>
        confidant. It's always helpful to have a big lug on the payroll who's got your back, even if he is a bit of a <br>
        well-intentioned klutz. At this point in the movie series, Hagrid's most involved storylines are behind him, but <br>
        some powerful and emotional moments are yet to come. They're spare, but they still resonate because of his history <br>
        with Harry, Hermione and Ron. Hagrid has become the surrogate for us, the audience, as we watch our favorite <br>
        students mature and develop into young warriors. The short scene in Goblet of Fire, when he walks through <br>
        the woods with our heroes, recollecting favorable times with the three of them, gave us all a cherished memory.
        </p>
        </div>
        
        <div class = "alltwelth">
        <h3 class = "name">
           Luna Lovegood
        </h3>
        <p class = "info">
        "I know she's insane, but it's in a good way." Ron Weasley's characterization of Luna Lovegood <br>
        is precisely what makes this "Looney" Ravenclaw girl such a delight. She's an offbeat type with <br>
        an interest in the macabre. And really, it's not surprising that she's a little strange when you <br>
        consider that her mother died in a tragic magical accident when she was young and her father, <br>
        Xenophilius, publishes the outrageous wizarding tabloid The Quibbler. While Luna is often shunned <br>
        for her oddball ways, things change when she meets Harry Potter and friends on the Hogwarts Express <br>
        on the way to their fifth year at school. Luna joins the cadre of heroic students in Dumbledore's <br>
        Army and plays a critical role within the group.
        </p>
        </div>
        
        <div class = "allthirteenth">
        <h3 class = "name">
           Fred and George Weasley
        </h3>
        <p class = "info">
        While our three heroes fumbled and stumbled about at Hogwarts, trying to decide what their futures held, the <br>
        Weasley twins had the luxury of knowing their passion: Pranks, gags and gaffes. While everyone else fretted <br>
        over their exams, Ron's older brothers had an entrepreneur's eye and a magician's mirth. Having always been on <br>
        hand to help Harry out in tough situations, the brave brothers, who were auspiciously born on April Fool's, <br>
        have still yet to experience their most intense and tragic moments, though George did lose an ear in The Deathly <br>
        Hallows Part 1 - dealing with the traumatic event with trademark humor. The more they pestered and prodded at Ron, <br>
        the more we realized that they were the kind of older brothers that we all would have wanted to grow up with. <br>
        Taking umbrage at Umbridge and leaving Hogwarts with a bang in Order of The Phoenix showed us that these two weren't <br>
        just goofy side splitters; they were brave and valiant freedom fighters.
        </p>
        </div>
        
        <div class = "allfourteenth">
        <h3 class = "name">
           Draco Malfoy
        </h3>
        <p class = "info">
        As we follow Harry Potter's path of righteous adventure during his years at Hogwarts, it only makes sense that we follow <br>
        his cracked mirror reflection. As someone that grew up totally opposite to Harry, the Aryan, aristocratic puke known as <br>
        Draco Malfoy was privileged, pompous and prejudiced. While the threat of Voldemort's return loomed outside the walls <br>
        of Hogwarts, Harry needed a lesser evil to keep him occupied when school was in session. And Draco did his absolute <br>
        best to make Harry's life as harried and horrible as possible. But just when we were beginning to think that Draco <br>
        was nothing more than a nuisance, he got charged, by the Dark Lord, with killing Dumbledore himself. And suddenly, we <br>
        were witnesses to Draco's initiation into the ranks of true evil and found ourselves actually invested in his choices - <br>
        particularly when we saw, as Dumbledore did, that Draco Malfoy, as nasty as he is, was not a murderer.<br>
        </p>
        </div>
        
        <div class = "allfifteenth">
        <h3 class = "name">
           Sirius Black
        </h3>
        <p class = "info">
        "Have you seen this wizard?" "Approach with extreme caution!" "Notify immediately by owl the Ministry of Magic." <br>
        So read the wanted posters plastered everywhere in the wizarding world upon Sirius Black's escape from Azkaban <br>
        prison, where he'd been sent years earlier for the murder of twelve Muggles and aiding Lord Voldemort. <br>
        But Sirius is an innocent man. And it's after he is vindicated that the character truly comes alive. Sirius was <br>
        a close friend of James and Lily Potter, so much so that they named him as Harry's godfather. And while he <br>
        maintains a sort of edgy, rebellious appeal -- emitting a truly badass vibe at times -- it's the father/son <br>
        relationship that begins to develop between Sirius and Harry that endears the character to us. Sadly, however, <br>
        Sirius meets his untimely demise before he can truly become the full-fledged father-figure that Harry so craves.<br>
        </p>
        </div>
        
        <div class = "allsixteenth">
        <h3 class = "name">
           Voldemort
        </h3>
        <p class = "info">
        The greatest thing about Lord Voldemort (AKA Tom Marvolo Riddle) was that he was rotten to his <br>
        very core. There would be no redemption for such a wicked spirit. There was never any "good" <br>
        lying dormant underneath Voldemort's dark exterior. He was never corrupted as a child; he was <br>
        the corrupter. When other powerful sorcerers don't even have the cajones to speak your name, <br>
        then you know you've truly arrived as the ultimate master of malice. As the most sinisterly <br>
        popularized villain since Darth Vader, Voldemort was truly frightening. In book after book, <br>
        Harry managed to evade certain death only by the skinny skin of his teeth. We literally could <br>
        not figure out a way that Harry, as cunning as he was, could ever defeat such a powerfully evil <br>
        force. Voldemort might not have been able to comprehend love or friendship, but that certainly <br>
        didn't stop us from taking delight in such a devilishly dreadful dude - and to wonder how Harry <br>
        might possibly survive their final encounter.
        </p>
        </div>
        
        <div class = "allseventeenth">
        <h3 class = "name">
           Neville Longbotoom
        </h3>
        <p class = "info">
        Neville Longbottom is the quintessential dimwit-turned-hero. When we first meet him at <br>
        Hogwarts, Neville is a shy introvert who is simply not that good at magic. In fact, <br>
        those close to Neville quietly wondered if he might nearly be a Squib, someone born into <br>
        a wizarding family without magic powers. He's lovable, sure, but his early misadventures <br>
        don't explicitly foreshadow the valiant defender of Hogwarts that he would ultimately <br>
        become. While he begins to show loyalty and signs of bravery early on, it isn't until Neville's <br>
        fifth year and his participation in Dumbledore's Army, that we see him truly come into his<br>
        own. Neville accompanies his friends on their mission to the Department of Mysteries where <br>
        he comes face to face with Bellatrix Lestrange, the twisted servant of Voldemort who cruelly <br>
        tortured his parents years before using the Cruciatus Curse. This would mark a turning point <br>
        for Neville, leading to some truly awesome moments of bravery in the final Battle of Hogwarts.
        </p>
        </div>
        
        <div class = "alleighteenth">
        <h3 class = "name">
           Albus Dumbledore
        </h3>
        <p class = "info">
        For a character that was introduced into popular culture only in recent years, it speaks volumes that <br>
        Professor Dumbledore has already taken his place among the great mentor figures in literature and film. <br>
        Like Gandalf and Yoda before him, Albus Percival Wulfric Brian Dumbledore plays the role of wise sage, guide, <br>
        and pseudo-grandfather in the story. There's a whimsical eccentricity to Dumbledore that might mislead some <br>
        into thinking he's a kind of absent-minded professor. That would be a mistake as he's proven to be one of <br>
        the most skilled wizards that ever lived. In the films, we loved Richard Harris' more soft-spoken approach <br>
        early on, but have to admit that Michael Gambon felt right at home showing Dumbledore at his most impressive <br>
        – from taking on Voldemort in a one-on-one battle, to single-handedly thwarting off a horde of zombie-like <br>
        inferi. His absence in Harry's life, since he was killed by Snape on the astronomy tower on a fateful and <br>
        tragic night, was powerful… even as Harry had begun to learn new, and potentially troubling, information <br>
        about his mentor - before finally accepting him for the great man he was, even amongst flaws he readily admitted to. <br>
        </p>
        </div>
        
        <div class = "allnineteenth">
        <h3 class = "name">
           Severus Snape
        </h3>
        <p class = "info">
        Whether you love him, or hate him, or love to hate him, Severus Snape makes quite an impact in the Harry Potter <br>
        series. If you're Harry, Snape is a nightmare of a teacher – picking on the boy from the moment he stepped <br>
        into Potions class, and showing clear favoritism toward Draco Malfoy and other Slytherin students. And yet… <br>
        When Harry and his friends thought Snape was the one trying to steal the Sorcerer's Stone, it turned out he <br>
        was trying to protect it, and every now and again, Snape actually seemed like he was trying to help these kids. <br>
        Snape turned into one of the most discussed and debated characters from Harry Potter. Is he an evil man with <br>
        moments of good, or a good man who has some very ugly characteristics? Or something more complicated all together? <br>
        When Snape killed Dumbledore, it was a defining moment for Harry, who couldn't fathom Dumbledore being betrayed <br>
        by a man who his mentor had -- for whatever reason -- chosen to trust so much. We couldn't ask for a better <br>
        actor than Alan Rickman to portray Snape, bringing the same charisma he's given to so many screen villains, <br>
        from Die Hard on. Of course, it turned out Snape wasn't quite the villain he seemed to be...
        </p>
        </div>
        
        <div class = "alltwentieth">
        <h3 class = "name">
           Ron Weasley
        </h3>
        <p class = "info">
        Ron Weasley is Harry Potter's best friend and ever-present sidekick. But unlike most sidekicks, Ron isn't a <br>
        coward or a simpleton, nor is he content to live in Harry's shadow. Of the three friends that make up the <br>
        main cast of characters, Ron is the comic relief -- not an uncommon trait for sidekicks of his ilk -- a <br>
        characteristic that makes him instantly endearing. And while he lacks Harry's natural magical talent, or <br>
        Hermione's smarts, Ron overcomes his shortcomings with faithfulness and perseverance. In spite of his fear <br>
        of spiders, Ron follows Harry loyally into the Forbidden Forest, and mixes it up with the bad guys more than <br>
        a few times in the series. He goes from bumbling Gryffindor keeper to Quidditch hero and works undercover at <br>
        Hogwarts to co-found the vigilante student group Dumbledore's Army. Ron's flirtation/frustration with Hermione <br>
        is also a highlight of the series. After all they'd been through, it was therefore difficult to see Ron abandon <br>
        Harry and Hermione in Deathly Hallows Part 1 - but oh-so gratifying when he returned, facing some very personal, <br>
        nightmarish visions and conquering them with the bravery of a true Gryffindor.
        </p>
        </div>
        
        <div class = "alltwentyfirst">
        <h3 class = "name">
           Hermione Granger
        </h3>
        <p class = "info">
        Hermione Granger, Harry Potter and Ron Weasley's best girl-pal, is so much more than just a token throw-in for <br>
        female readers/viewers to identify with. In fact, she narrowly edges out Ron for second place on our list. Why? <br>
        We're glad you asked... Potter author J.K. Rowling describes her as "very logical, upright, and good." And while <br>
        she's at first painted as a brainy do-gooder who always plays by the rules, it's fun to watch Hermione develop <br>
        into so much more over the course of the series. Throughout the novels and films, Hermione remains the voice of <br>
        reason, but she'll break the law without hesitation if it's for the greater good. And her Spock-like logic is no <br>
        help at all when hormones come into play -- completely fracturing, in fact, when it comes to her playfully love-hate <br>
        relationship with Ron. You'll find no better friend or magical ally than "the brightest witch of her age."
        </p>
        </div>
        
        <div class = "alltwentysecond">
        <h3 class = "name">
           Harry Potter
        </h3>
        <p class = "info">
        Perhaps it's a given that Harry Potter himself tops our list, but it's important to still reflect on why the character has been so <br>
        universally accepted. He's a sympathetic figure; a kid plucked from unfortunate circumstances and thrust into a magical reality. <br>
        He realizes he has been gifted with great power. And then he's pitted against the ultimate evil in the wizarding world, Lord Voldemort, <br>
        who years ago killed his mother and father . Everybody loves an underdog story of good vs. evil and we've watched Harry grow up in this <br>
        fantastic setting -- forming friendships, fighting foes, and finding love. While Harry only partially realizes his deepest desire, to <br>
        see his dead parents again, he is fathered and mothered by the care-taking adults who surround him -- Albus Dumbledore, Hagrid, Molly <br>
        and Arthur Weasley, and Sirius Black to name a few. His faithful friends Ron and Hermione are an extension of this ad hoc family -- <br>
        as close as any real brother and sister. And Harry has needed all the support he can get in his battle against those who would do him harm -- <br> 
        from school bully Draco Malfoy, to soul sucking Dementors, the terrible Death Eaters, and ultimately the Dark Lord himself. J.K. Rowling <br>
        was careful to not make Harry perfect. His temper has gotten the better of him and he's made some crucial mistakes along the way, ignoring <br>
        his friends in the process. But Harry's defects only help to endear us to him, as he feels so very real and part of both our world and the <br>
        magical one he spent the first ten years of his life ignorant of. The weight of the world is upon his shoulders, as he's said to be "The <br>
        Chosen One," on top of processing being famous simply because he didn't die when someone tried to kill him – the same someone who killed <br>
        his parents. That's a lot to deal with, but Harry Potter somehow is able to stand strong, even when faced with tremendous loss and being <br>
        asked to make terrible sacrifices of his own.
        </p>
        </div>
    </body>
    
</html>