<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Your Results!!</title>
    </head>
    <body class = "resulttime">
                   <br>
          <br>
          <h3 class = "navbar">
              <a href="/" > Home</a>
              <a href="/books" > The Books</a>
              <a href="/movies" > The Movies</a>
              <a href="/summary" > Summary</a>
              <a href="/questions" > Character Quiz</a>
              <a href="/housequiz" > House Quiz</a>
              <a href="/otherpages" > Links </a>
          </h3>
        <header class = "characterresult1">Your Results!</header>
        <br>
        <h1 class = "characterresult2">You are Ginny Weasley! </h1>
        <br>
        <br>
        <br>
        <p class = "characteranswer">People might underestimate you but you’re stronger than you appear. 
        You’re stubborn, witty, adventurous, and always up for a challenge.
</p>
    </body>
</html>