<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>
            Harry Potter Home
        </title>
    </head>
    
    <body class = "homebody">
        <div class = "homeheading">
            <br>
            <br>
            <br>
            <br>
            <header>
                <h1 class = "hometitle">
                    Harry Potter Mania!
                </h1>
            </header>
            <br>
            <br>
            <br>
            <br>
        </div>
          <div class = "bookscover">
          <h2 class = "bookstitle">
            <br>
            <br>
            <br>
            <br>
            <a href="/books" > The Books </a>
            <br>
            <br>
            <br>
            <br>
          </h2>
          </div>
      
        <div class = "right">
        <h2 class = "movietitle">
            <br>
            <br>
            <br>
            <br>
            <a href="/movie" > The Movies </a>
            <br>
            <br>
            <br>
            <br>
        </h2>
      </div>
      
      <div class = "middlegif">
        <img src = "https://media.giphy.com/media/26BRzozg4TCBXv6QU/giphy.gif" alt = "Harry Potter Gif">
      </div>
      
      <div class = "housequizcover">
          <h2 class = "housequiztitle">
          <br>
          <br>
          <a href="/housequiz">House Quiz</a>
          <br>
          <br>
        </h2>
      </div>
      
       <div class = "castcover">
          <h2 class = "casttitle">
          <br>
          <br>
          <a href="/characters">Characters</a>
          <br>
          <br>
        </h2>
      </div>
      
            <div class = "plotcover">
          <h2 class = "plottitle">
          <br>
          <br>
          <a href="/summary">Summary </a>
          <br>
          <br>
        </h2>
      </div>
      
          <div class = "animagusquizcover">
          <h2 class = "animagusquiztitle">
          <br>
          <br>
          <a href = "/charquiz" > Character Quiz </a>
          <br>
          <br>
        </h2>
      </div>
      
       <div class = "characterquizcover">
          <h2 class = "characterquiztitle">
          <br>
          <br>
          <a href = "/otherpages" > Other Websites </a>
          <br>
          <br>
        </h2>
      </div>
    </body>
</html>