<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Harry Potter-Movies</title>
  </head>
  <body class = "moviesbody">
          <br>
          <br>
          <h3 class = "navbar">
              <a href="/" > Home</a>
              <a href="/books" > The Books</a>
              <a href="/questions" > Character Quiz</a>
              <a href="/summary" > Summary</a>
              <a href="/characters" > Characters</a>
              <a href="/housequiz" > House Quiz</a>
              <a href="/otherpages" > Links </a>
          </h3>
          <br>
          <br>
    <header><h1 align="center">Harry Potter Movies</h1></header>
    
    <a href="https://www.youtube.com/watch?v=VyHV0BRtdxo" target="_blank"> 
  <img src="https://sc-events.s3.amazonaws.com/4270058/main.jpg" alt="Harry Potter" height="450" width="300"
 style="position:absolute; left: 47px">
</a>
                                              
    <a href="https://www.youtube.com/watch?v=1bq0qff4iF8" target="_blank"> 
  <img src="https://vignette.wikia.nocookie.net/harrypotter/images/c/c0/ALOExwKoxdkdeBvVi7NkaFl5Wa5.jpg/revision/latest/scale-to-width-down/333?cb=20130803163017" alt="Harry Potter" height="450" width="300"; style="position:absolute; left: 389px"> 
    </a>                            
   <a href="https://www.youtube.com/watch?v=lAxgztbYDbs" target="_blank"> 
  <img src="https://www.dvdsreleasedates.com/posters/800/H/Harry-Potter-and-the-Prisoner-of-Azkaban-movie-poster.jpg" height="450" width="300" style="position:absolute; right: 389px">
  </a> 
    
<a href="https://www.youtube.com/watch?v=3EGojp4Hh6I" target="_blank"> 
  <img src="https://vignette.wikia.nocookie.net/harrypotter/images/2/2c/Goblet_of_Fire_Film_Poster.jpg/revision/latest/scale-to-width-down/333?cb=20140817011104" height="450" width="300"
style="position:absolute; right: 47px">
</a> 
    
   <a href="https://www.youtube.com/watch?v=y6ZW7KXaXYk" target="_blank"> 
  <img src="https://vignette.wikia.nocookie.net/harrypotter/images/7/70/Harry_Potter_and_the_Order_of_the_Phoenix.jpg/revision/latest?cb=20161002074140" height="450" width="300"
style="position:absolute; top: 573px; left: 47px">
</a> 
    
  <a href="https://www.youtube.com/watch?v=sg81Lts5kYY" target="_blank"> 
 <img src="https://artfiles.alphacoders.com/987/98715.jpg" height="450" width="300" style="position:absolute; top: 573px; left: 389px">
</a>  
  
   <a href="https://www.youtube.com/watch?v=MxqsmsA8y5k" target="_blank"> 
  <img src="https://vignette.wikia.nocookie.net/harrypotter/images/a/ab/Deathly_Hallows_1_poster.jpg/revision/latest?cb=20151102033339" height="450" width="300" style="position:absolute; top: 573px; right: 389px">
</a>
    
  <a href="https://www.youtube.com/watch?v=5NYt1qirBWg" target="_blank"> 
  <img src="https://images-na.ssl-images-amazon.com/images/I/51cbzR1Ji0L.jpg" height="450" width="300" style="position:absolute; top: 573px; right: 47px">
</a>  
  </body>
</html>

