<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>
      Harry Potter External Links
    </title>
  </head>
  
  <body class = "linksbody">
          <br>
          <br>
          <h3 class = "navbar">
              <a href="/" > Home</a>
              <a href="/books" > The Books</a>
              <a href="/movies" > The Movies</a>
              <a href="/summary" > Summary</a>
              <a href="/characters" > Characters</a>
              <a href="/housequiz" > House Quiz</a>
              <a href="/questions" > Characters Quiz </a>
          </h3>
          <br>
          <br>
    <header>
      <h1 class = "linksheader">
        Harry Potter External Links!
      </h1>
    </header>
   
    <div class = "pottermorelink">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class = "pottermore" href="https://www.pottermore.com">To Pottermore!</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    
    <div class = "wikipedialink">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class = "wikipedia" href="https://en.wikipedia.org/wiki/Harry_Potter">To Wikipedia!</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
 
  <div class = "websitelink">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class = "website" href= "https://www.jkrowling.com/" >To JK Rowling!</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    
    <div class = "quizlink">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class = "quiz" href="https://www.harrypottertheplay.com">The Cursed Child!</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
  </body>
</html>