<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>
            Harry Potter Summary
        </title>
    </head>
    
    <body class = "summarybody">
          <br>
          <br>
          <h3 class = "navbar">
              <a href="/" > Home</a>
              <a href="/books" > The Books</a>
              <a href="/movies" > The Movies</a>
              <a href="/questions" > Character Quiz </a>
              <a href="/characters" > Characters</a>
              <a href="/housequiz" > House Quiz</a>
              <a href="/otherpages" > Links </a>
          </h3>
          <br>
          <br>
        <header>
            <h1 class = "summaryheading">
                Harry Potter Summary!
            </h1>
        </header>
        
        <div class = "onesummary">
        <h3 class = "onesummaryhead">
            The Sorcerer's Stone:
        </h3>
        
        <p class = "onesummaryinfo">
            Harry Potter is an average bespectacled 11 year old boy who has lived with the Dursley family <br>
            ever since his parents died in a car crash. For some reason the family has always mistreated him. <br>
            On his 11th birthday a giant man named Rubeus Hagrid hands him a letter telling him that he has been <br>
            accepted as a student at the Hogwarts School of Witchcraft and Wizardry. Harry learns that his parents <br>
            were wizards and were killed by an evil wizard Voldemort, a truth that was hidden from him all these years. <br>
            He embarks for his new life as a student, gathering two good friends Ron Weasley and Hermione Granger along <br>
            the way. They soon learn that something very valuable is hidden somewhere inside the school and Voldemort <br>
            is very anxious to lay his hands on it.
        </p>
        
        </div>
        
        <div class = "twosummary">
            <h3 class = "twosummaryhead">
                The Chamber of Secrets:
            </h3>
            
            <p class = "hello">
                Forced to spend his summer holidays with his muggle relations, Harry Potter gets a real shock when he gets a surprise visitor: <br>
                Dobby the house-elf, who warns Harry Potter against returning to Hogwarts, for terrible things are going to happen. <br>
                Harry decides to ignore Dobby's warning and continues with his pre-arranged schedule. But at Hogwarts, strange and terrible <br>
                things are indeed happening: Harry is suddenly hearing mysterious voices from inside the walls, muggle-born students are being <br>
                attacked, and a message scrawled on the wall in blood puts everyone on his/her guard - "The Chamber Of Secrets Has Been Opened. <br>
                Enemies Of The Heir, Beware" .
            </p>
            
        </div>

        <div class = "prisoner">
            <h3 class = "prisonerhead">
                The Prisoner of Azkaban:
            </h3>
            
            <p class = "prisonerinfo">
            Harry Potter is having a tough time with his relatives (yet again). He runs away after using magic to inflate Uncle <br>
            Vernon's sister Marge who was being offensive towards Harry's parents. Initially scared for using magic outside the school, <br>
            he is pleasantly surprised that he won't be penalized after all. However, he soon learns that a dangerous criminal and <br>
            Voldemort's trusted aide Sirius Black has escaped from the Azkaban prison and wants to kill Harry to avenge the Dark Lord.<br>
            To worsen the conditions for Harry, vile creatures called Dementors are appointed to guard the school gates and inexplicably <br>
            happen to have the most horrible effect on him. Little does Harry know that by the end of this year, many holes in his past <br>
            (whatever he knows of it) will be filled up and he will have a clearer vision of what the future has in store...
            </p>
            
        </div>
        
                <div class = "goblet">
            <h3 class = "goblethead">
                The Goblet of Fire:
            </h3>
            
            <p class = "gobletinfo">
           Harry's fourth year at Hogwarts is about to start and he is enjoying the summer vacation with his friends. They get the tickets to <br>
           The Quidditch World Cup Final but after the match is over, people dressed like Lord Voldemort's 'Death Eaters' set a fire to all <br>
           the visitors' tents, coupled with the appearance of Voldemort's symbol, the 'Dark Mark' in the sky, which causes a frenzy across the <br>
           magical community. That same year, Hogwarts is hosting 'The Triwizard Tournament', a magical tournament between three well-known <br>
           schools of magic : Hogwarts, Beauxbatons and Durmstrang. The contestants have to be above the age of 17, and are chosen by a magical <br>
           object called Goblet of Fire. On the night of selection, however, the Goblet spews out four names instead of the usual three, with <br>
           Harry unwittingly being selected as the Fourth Champion. Since the magic cannot be reversed, Harry is forced to go with it and brave <br>
           three exceedingly difficult tasks.
            </p>
            
        </div>
        
                <div class = "phoenix">
            <h3 class = "phoenixhead">
                The Order of the Phoenix:
            </h3>
            
            <p class = "phoenixinfo">
            After returning to Hogwarts to begin his fifth year at Hogwarts, Harry Potter discovers that much of the wizarding world, including <br>
            the Ministry of Magic, is in denial about Lord Voldemort's return. The Order of the Phoenix, a group sworn against Voldemort, is using <br>
            its vast array of wizards and witches magical abilities to combat Voldemort. Cornelius Fudge, Minister for Magic, suspects that <br>
            Dumbledore is using these claims of The Dark Lord's return as a means to over-throw Fudge as Minister. In retaliation, a new Defence <br>
            Against the Dark Arts teacher is appointed by the Ministry in order to keep an eye on Hogwarts. This new teacher, Professor Umbridge, <br>
            implies strict new teachings and rules, forcing a group of students, under the tutelage of Harry, to form a club, by the name of <br>
            Dumbledore's Army...
            </p>
            
        </div>
        
             <div class = "halfblood">
            <h3 class = "halfbloodhead">
                The Half-Blood Prince:
            </h3>
            
            <p class = "halfbloodinfo">
            In the sixth year at Hogwarts School of Witchcraft, and in both <br>
            wizard and muggle worlds Lord Voldemort and his henchmen are increasingly active. <br>
            With vacancies to fill at Hogwarts, Professor Dumbledore persuades <br>
            Horace Slughorn, back from retirement to become the potions teacher, while <br>
            Professor Snape receives long awaited news. Harry Potter, together <br>
            with Dumbledore, must face treacherous tasks to defeat his evil nemesis.
            </p>
            
        </div>
        
            <div class = "dhallows">
            <h3 class = "hallowshead">
                The Deathly Hallows:
            </h3>
            
            <p class = "hallowsinfo">
            Voldemort's power is growing stronger. He now has control over the Ministry of Magic and Hogwarts. Harry, Ron, and Hermione <br>
            decide to finish Dumbledore's work and find the rest of the Horcruxes to defeat the Dark Lord. But little hope remains for the <br>
            Trio, and the rest of the Wizarding World, so everything they do must go as planned.Harry, Ron, and Hermione continue their <br>
            quest of finding and destroying the Dark Lord's three remaining Horcruxes, the magical items responsible for his immortality. <br>
            But as the mystical Deathly Hallows are uncovered, and Voldemort finds out about their mission, the biggest battle begins and <br>
            life as they know it will never be the same again.
            </p>
            
        </div>
        
    </body>
</html>